body {
  font-family: ;
}

.weather-app-wrap {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 3px solid #0c9239;
  border-radius: 5px;
}

h1 {
  color: #0c9239;
  font-size: 30px;
  font-weight: 100;
  font-family: "Francois One", sans-serif;
  display: block;
  line-height: 28px;
  margin-bottom: 5;
}

ul #date-today {
  margin-top: 5px;
}

ul #weather-today {
  margin-bottom: 15px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: black;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

li::first-letter {
  text-transform: capitalize;
}

strong {
  color: #0c9239;
  font-size: 30px;
  line-height: 2px;
  margin-top: 10px;
}

.degrees {
  color: #0471d7;
  position: relative;
  font-size: 16px;
}

#icon {
  max-width: 200px;
}
