body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(255, 229, 168) 0%,
    rgb(251, 174, 222) 100.7%
  );
}

.weather-app-wrap {
  max-width: 600px;
  margin: 30px auto;
  background-color: rgb(224, 255, 191, 0.5);
}

.weather-app {
  padding: 20px;
  border: 2px solid #0471d7;
  border-radius: 5px;
}

h1 {
  color: #0471d7;
  font-size: 40px;
  font-weight: 100;
  font-family: "Francois One", sans-serif;
  display: block;
  line-height: 28px;
  margin-bottom: 5px;
  margin-left: 25px;
}

ul #date-today {
  margin-top: 15px;
  margin-left: 25px;
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
}

#weather-today {
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 25px;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}

ul {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

li {
  list-style: none;
  color: black;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

li::first-letter {
  text-transform: capitalize;
}

#currentTemp {
  color: #0471d7;
  font-size: 30px;
  line-height: 2px;
  margin-top: 10px;
}

.active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.degree-links {
  font-size: 20px;
  text-decoration: none;
}

.active,
.active:hover,
.degree-links,
#fahrenheit-link {
  text-decoration: none;
}

#icon {
  max-width: 200px;
}

.degree-links a {
  text-decoration: none;
}

.weather-forecast {
  font-family: "Courier New", Courier, monospace;
  margin-top: 10px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  color: black;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}

.link {
  font-family: "Courier New", Courier, monospace;
  margin-top: 20px;
  text-align: center;
}
